/*FOOTER*/
footer{
    background-color: white;
}
.credit{
    text-align: center;
    color: var(--colorceleste);
    font-size: 2em;
    padding-top: 20px;
    
}
.credit i {
    font-size: 2em;
    margin-bottom: 10px;
}
.user{
    text-align: center;
    color: var(--colorceleste);
    font-size: 2em;
    
}
.user i {
    font-size: 2em;
    margin-bottom: 10px;
}
.regalo{
  text-align: center;
  color: var(--colorceleste);
  font-size: 2em;
  
}
.regalo i {
    font-size: 2em;
    margin-bottom: 10px;
}


@media (min-width:361px){


/*FOOTER*/
.credit{}

.credit i {}

.user{}

.user i {}

.regalo{}

.regalo i {}

}


@media (min-width:769px){


    /*FOOTER*/
    .credit{
    padding: 0;
}
    
    .credit i {
    font-size: 45px;
}
    
    .user{}
    
    .user i {
        font-size: 45px;
    }
    
    .regalo{}
    
    .regalo i {font-size: 45px;}
    
    div.credit i:hover{
        background-color: var(--colorgris2);
    }
    div.user i:hover{
        background-color: var(--colorgris2);
    }
    div.regalo i:hover{
        background-color: var(--colorgris2);
    }

    section.footer-home{
    display: flex;
}

section.footer-home article h2{
    font-size: 20px;
    margin: 0;
    color:rgb(41, 40, 40);
}
section.footer-home article p{
    font-size: 10px;
    color: var(--colorgris);
}

section.footer-home article{
    margin-left:10px ;
}

footer.home-footer h2{
    color:rgb(41, 40, 40);
font-size: 15px;
}


    }

