body{
    background-color: var(--colorblanco);
}

main.registro{
    background-color: var(--colorblanco);
}


main.registo button{

    
    /*
    background-color: var(--colorblanco);
    padding: 10px 10px;
    position:absolute;
    border: 0;
    top: 0;
    bottom: 0;
    color: black;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 1px;
    width: 40px;
    border: solid 1px var(--colorgris);*/
}